// style.scss

// Variáveis e reset
@use "base/variables";
@use "base/reset";
@use "base/typography";
// Components
@use "components/site-navbar";
@use "components/site-footer";
@use "components/site-form";
@use "components/site_gallery";

// Páginas
@use "pages/home";
@use "pages/services";
@use "pages/about";
@use "pages/portfolio";
@use "pages/trabalhos";
@use "pages/contact";