@use '../base/variables' as var;

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.portfolio img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  box-shadow: var.$box-shadow !important;
}