@use "../base/variables" as var;

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.portfolio img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* aplica sombra às imagens */
.portfolio .carousel-inner img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* garante que o container não corta a sombra */
.portfolio .carousel-inner {
  overflow: visible;
}
