@use '../base/variables' as var;

.trabalhos {
    height: 100vh;
    background-color: var.$color-muted !important;
}

.trabalhos .carousel-inner img {
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}



#trabalhosCarousel .carousel-indicators {
    bottom: -30px;
}


#trabalhosCarousel .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
}

#trabalhosCarousel .carousel-indicators .active {
    background-color: var.$color-primary;

}