@use '../base/variables' as var;

.navbar {
  background-color: var.$color-light;
  padding: 10px 20px !important;
  box-shadow: var.$box-shadow;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    max-height: 60px;
    width: auto;
    display: block;
  }

  span {
    font-family: var.$font-primary;
    font-size: 1.2rem;
    color: var.$color-primary;
  }
}

.nav-link {
  color: var.$color-dark !important;

  &:hover {
    color: var.$color-primary !important;
  }
}