@use "../base/variables" as var;

.btn-form {
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  background-color: var.$color-primary !important;
  color: var.$color-light !important;
}

.btn-form:hover {
  background-color: var.$color-secondary !important;
  color: var.$color-light !important;
}
